# Binarios y temporales
*.tmp
*.log
*.zip
*.exe
*~
autenticacion_mid
main

# IDEs y otros
.vscode
.idea

# Variables de Entorno
*.env
!template.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml


# Go Archives
go.mod
go.sum

# Router file
routers/commentsRouter___*